```{=html}
<!-- DN from https://raw.githubusercontent.com/quarto-dev/quarto-web/main/docs/gallery/gallery.ejs -->
<% for (const item of items) { %>

<h3><%- item.category %></h3>

<p><%- item.description %></p>

<div class="list grid" style="column-gap: 10px;">

<% for (const tile of item.tiles) { %>
  <% if (!tile.disabled) { %>
  <div class="card border-2 rounded-3 g-col-6 g-col-sm-3 g-col-md-2 mb-1" <%= metadataAttrs(tile) %>>
    <div class="card-header py-1 px-2 border-bottom border-1 bg-light">
      <% if (tile.modular) { %>
        <span class="card-text" style="padding: 1px; border: 4px solid rgb(125, 206, 5); border-radius: 4px" title="a modular example reusing formulae ♻️">♻️</span>
      <% } %> <!-- removed float-end inline-block -->
      <!--<% if (tile.wip) { %>
        <span class="card-text" style="border: 1px solid lightblue" title="not yet properly integrated in this site 🚧">🚧</span>
      <% } %>-->
      <small class="card-text inline-block">
        <a href="/examples-viewer.html?id=<%- tile.id %>" class="listing-title"><%= tile.title %></a>

        <!--<% if (tile.code) { %> 
        <a href="<%- tile.code %>" title="View source code" 
          class="source-code card-text float-end inline-block">
          <i class="bi-code-slash"></i> 🛠
        </a>
        <% } %>-->
        <span class="text-muted listing-subtitle"><%= tile.subtitle %></span>
      </small>
    </div>
    <a href="/examples-viewer.html?id=<%- tile.id %>">
      <img src="<%- tile.thumbnail %>" alt="<%- tile.description %>" class="card-img-top"/>
    </a>
    
    <% if (tile.publicationdate) { %> 
      <b class="listing-publicationdate"><%= tile.publicationdate %></b>
    <% } %>
    
  </div>
  <% } %>
<% } %>

</div>

<% } %>

```